<div class="container">
  <div class="row">  
      <h5>Cart</h5>      
  </div>
  <div class="row"><div>items: {{items.length}}</div></div>
    
  <div class="row">
    <div>Total: ${{total}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="padding:0px">

      <ul class="list-group"
        *ngIf="items.length">
        <li class="list-group-item"
            *ngFor="let item of items"
          >
          <app-cart-item [item]="item"></app-cart-item>

        </li>
    </ul>

    </div>
  </div>

</div>